In [9]:
import numpy as np
import pandas as pd
from  sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [11]:
df = pd.read_csv("diabetes.csv")
df.shape

(768, 9)

In [12]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [13]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [14]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [17]:
X = df.drop(columns ="Outcome", axis = 1)
Y = df['Outcome']

In [18]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [19]:
std_data = scaler.transform(X)
print(std_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [21]:
X = std_data

In [36]:
X_train,X_test, Y_train,Y_test = train_test_split(X,Y, test_size = 0.2, stratify =Y, random_state = 1)

In [37]:
# training the model

In [38]:
classifier = svm.SVC(kernel = 'linear')

In [39]:
# training the support vector machine

In [40]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [44]:
# model evaluation
# accuracy score
X_train_pred = classifier.predict(X_train)
X_train_accuracy = accuracy_score(X_train_pred,Y_train)
print("Accuracy of training data",X_train_accuracy)

Accuracy of training data 0.7833876221498371

In [45]:
# Accuracy of the testing data
X_test_pred = classifier.predict(X_test)
X_test_accuracy = accuracy_score(X_test_pred,Y_test)
print("Accuracy of testing data : ",X_test_accuracy)

Accuracy of testing data :  0.7792207792207793

In [46]:
# Making of Predictive System

In [50]:
inp_data = (4,110,92,0,0,37.6,0.191,30)
#  convert to np array
np_arr_data = np.asarray(inp_data)

# Reshape the data
reshape_np_data = np_arr_data.reshape(1,-1)

# standardize the input data
std_data1 = scaler.transform(reshape_np_data)
print(std_data1)

predict = classifier.predict(std_data1)
print(predict)

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]

C:\Users\visha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(